*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    font-size:16px;
}
body {
    font-family: 'Signika Negative', sans-serif;
    font-weight: 300;
}
h1 {
    font-family: 'Dosis', sans-serif;
}

/*NAV BAR*/
nav {
    position: fixed;
    z-index: 1;
    width:100%;
    background-color: rgba(245, 245, 245, 0.966);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width:fit-content;
    display:flex;
    align-items: center;
}
@media only screen and (min-width:768px) {
    .logo h1 {
        font-size: 1.8rem;
        padding-left:5px;
        color:rgb(37, 36, 35);
        transition: all 1s ease-in-out;
    }
}
@media only screen and (max-width:768px) {
    .logo h1 {
        color:rgb(37, 36, 35);
        font-size: 1.5rem;
        transition: all 1s ease-in-out;
    }
}
.cowimg {
    width:50px;
    height:auto;
    overflow:hidden;
}
.cowimg img {
    max-width:100%;
    height:auto;
    display:block;
    filter:drop-shadow(0 5px 2px rgba(0, 0, 0, 0.795));
}
@media only screen and (min-width:768px) {
    .navlist {
        width:40%;
    }
    .navlist ul {
        display:flex;
        justify-content:space-around;
    }
    .navlist ul li {
        list-style-type: none;
        transition:all 750ms linear;
    }
    .navlist li a {
        text-decoration:none;
        color:rgb(0, 0, 0);
    }
    .navlist li a:hover {
        color:rgb(184, 147, 99);
        font-weight: 600;
        transition:all 300ms linear;
    }
    .active {
        color:rgb(184, 147, 99);
        font-weight: 600;
    }
}
@media only screen and (max-width:768px) {
    .navlist {
        margin-right:2.5%;
    }
    .navlist ul {
        text-align: center;
    }
    .navlist li {
        list-style-type: none;
        padding:2px;
        font-size:0.8rem;
        transition:all 750ms linear;
    }
    .navlist li a {
        text-decoration:none;
        color:rgb(0, 0, 0);
    }
    .navlist li a:hover{
        color:rgb(184, 147, 99);
        font-weight: 600;
        transition:all 300ms linear;
    }
    .active {
        color:rgb(184, 147, 99);
        font-weight: 600;
}
}
/*HOMEPAGE*/
.homepage {
    background: rgb(198,164,119);
    background: linear-gradient(135deg, rgba(198,164,119,0.5550595238095238) 0%, rgba(144,112,70,1) 100%);
}
.container1 {
    background-image: url('../images/homepage/sheep.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:850px;
    display:flex;
    justify-content: center;
    align-items: center;
    }
.toptxt {
    text-align: center;
    color: rgba(245, 245, 245, 0.966);
    width:fit-content;
    height: auto;
    margin:0 10% 0 10%;
    text-transform: capitalize;
}
.enterprises {
    border:1px solid rgb(37, 36, 35);
    background-color:rgb(37, 36, 35);
}
.enterprises h2 {
    text-align: center;
    color:rgba(245, 245, 245, 0.966);
    text-transform: capitalize;
    margin:2%;
    padding-top:2%; 
}
.enterpriserow {
    display:flex;
    justify-content: space-around;
    margin-bottom: 5%;
}
.enterpriserow img {
    width:250px;
    height:auto;
    border-radius:2%;
    margin-top:10%;
}
.enterpriserow a {
    text-align: center;
    text-decoration: none;
    color:rgba(245, 245, 245, 0.966);
    text-transform: uppercase;
    font-size: 0.9rem;
}
.sheepent:hover, .cattleent:hover, .arableent:hover {
    -webkit-transform:scale(1.15);
    -ms-transform:scale(1.15);
    transform:scale(1.15);
    transition: all 250ms ease-in;
}
@media only screen and (max-width:1024px) {
    .enterpriserow img {
        width:200px;
        border-radius: 5%;
        transition:all 500ms linear;
    }
}
@media only screen and (max-width:768px) {
    .enterpriserow img {
        width:175px;
        transition:all 500ms linear;
    }
}
@media only screen and (max-width:700px) {
    .enterpriserow {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-content: space-around;
    }
    .sheepent, .cattleent, .arableent {
        width:fit-content;
        margin:5% auto;
    }
    .enterprises h2 {
        padding-top:5%; 
    }
    .enterpriserow img {
        width:175px;
        height:auto;
        border-radius: 5%;
        margin-top:10%;
        transition:all 500ms linear;
    }
}
@media only screen and (max-width:480px) {
    .enterprises h2 {
        padding-top:8%; 
    }
}
.aboutus {
    background-color: rgba(245, 245, 245, 0.966);
    padding:1% 0%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.container2 {
    width:60%;
    height:auto;
    overflow:hidden;
    margin:1%;
}
.container2 img {
    max-width:100%;
    height:auto;
    display:block;
}
.aboutustext {
    width:40%;
    color:rgb(37, 36, 35);
    padding:1%;
    text-align: justify;
}
.aboutustext h2 {
    padding-bottom: 1%;
}
@media only screen and (max-width:1200px) {
    .aboutustext {
        font-size: 0.9rem;
        transition: all 400ms linear;
    }
}
@media only screen and (max-width:768px) {
    .aboutus {
        display:flex;
        flex-direction: column;
    }
    .aboutustext {
        width:90%;
        text-align: center;
        padding:3%;
    }
    .container2 {
        width:90%;
        padding-top:3%;
    }
}
.gallery {
    width:95%;
    margin:0 auto;
    padding-bottom:5%;
}
.gallery h2 {
    text-align: center;
    padding-top:3%;
    padding-bottom: 1%;
    color:rgba(245, 245, 245, 0.966);
}
.galleryphotos {
    width:80%;
    height:1000px;
    overflow: scroll;
    margin:0 auto;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}
.galleryphotos img {
    display:inline-flex;
    padding:0.1%;
    max-width:48%;
    height:auto;
}
@media only screen and (max-width:768px) {
    .gallery h2 {
        padding:5% 0%;
    }
}




/*FARMING SUSTAINABLY*/
/*
.container3 {
    position:static;
    width:100%;
    height:1000px;
    overflow:scroll;
    display:flex;
    background-image: url('../images/farmingsus/bwmus.jpg');
    background-repeat: no-repeat;
    background-position:center;
}

.wfs {
    clear:right;
    float:left;
    width:40%;
    margin:4% 0 0 10%;
    background-color: white;
    border-radius:5px;
    padding:5px;
}

.wfs h3{
    font-size:2rem;
    font-family: 'Amatic SC', cursive;
    color:rgba(94, 54, 2, 0.76)
}

.wra {
    clear:left;
    float:right;
    width:40%;
    margin:15% 4% 10% 0;
    background-color: white;
    border-radius:5px;
    padding:5px;
}

.wra h3{
    font-size:2rem;
    font-family: 'Amatic SC', cursive;
    color:rgba(94, 54, 2, 0.76)
}

.regenlist h2{
    text-transform: capitalize;
    text-align:center;
    margin:5% 0;
}

.covercrops {
    max-height:1000px;
    min-height:692px;
    background-color: rgba(181, 240, 163, 0.425);
}

.covercrops img {
    float:left;
    height:100%;
    max-width:100%;
    overflow:hidden;
    padding:1% 1%;
}

.covercropstext {
    min-height:17.5%;
    max-height:70%;
    width:50%;
    position:absolute;
    left:48%;
    margin-top:20%;
    background-color: rgb(255, 255, 255);
    padding:15px;
    overflow:scroll;
}

.covercrops h3{
    padding-bottom:10px;
    font-size:2rem;
    font-family: 'Amatic SC', cursive;
    color:rgba(94, 54, 2, 0.76)
}

.mintill {
    max-height:1000px;
    min-height:692px;
    background-color: rgba(143, 233, 118, 0.425);
}

.mintill img{
    float:right;
    height:100%;
    max-width:100%;
    overflow:hidden;
    padding:1% 1%;
}

.mintilltext {
    min-height:17.5%;
    max-height:70%;
    width:50%;
    position:absolute;
    right:48%;
    margin-top:20%;
    background-color: rgb(255, 255, 255);
    padding:15px;
    overflow:scroll;
}

.mintill h3 {
    padding-bottom:10px;
    font-size:2rem;
    font-family: 'Amatic SC', cursive;
    color:rgba(94, 54, 2, 0.76)
}

.livint {
    max-height:1000px;
    min-height:692px;
    background-color: rgba(105, 218, 83, 0.425);
}

.livint img{
    float:left;
    height:100%;
    max-width:100%;
    overflow:hidden;
    padding:1% 1%;
}

.livinttext {
    min-height:17.5%;
    max-height:70%;
    width:50%;
    position:absolute;
    left:48%;
    margin-top:20%;
    background-color: rgb(255, 255, 255);
    padding:15px;
    overflow:scroll;
}

.livint h3 {
    padding-bottom:10px;
    font-size:2rem;
    font-family: 'Amatic SC', cursive;
    color:rgba(94, 54, 2, 0.76)
}


/*OUR PRODUCE*/
 .ourproduce {
    padding:0.1%;
 }

.ourproduce ul {
    text-align: center;
    margin:5% auto;
    width:80%;
}

.ourproduce li {
    display: inline-block;
}

.ourproduce img {
    max-width:100%;
    height:100%;
    margin-bottom:10%;
}

.lambs{
    margin:0 5%;
    padding-bottom:0.5%;
}

.lambs h2{
    margin-bottom:10px;
}

.lambs a{
    text-decoration: none;
}

.lambs img:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px black;
}

.cows {
    margin:0 5%;
}

.cows h2{
    margin-bottom:10px;
}

.cows a{
    text-decoration: none;
}

.cows img:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px black; 
}

/*LAMB PAGE*/

.container4 {
    position:static;
    width:100%;
    height:1100px;
    overflow:hidden;
    align-items:center;
    background-image: url('../images/ourproduce/lambpage/shepherdingsheep.jpg');
    background-repeat: no-repeat;
    background-position: center;
}


.lambpage h2{
    color:white;
    position:relative;
    top:20%;
    left:47.5%;
}

.lambpage p{
    width:100%;
    padding:5px;
    text-align:center;
    color:rgb(255, 255, 255);
    background-color:rgba(0, 0, 0, 0.507);
    position:relative;
    top:55%;
}

/*COW PAGE*/

.container5 {
    position:static;
    width:100%;
    height:1100px;
    overflow:hidden;
    align-items:center;
    background-image: url('../images/ourproduce/cowpage/ngunietc.jpg');
    background-repeat: no-repeat;
    background-position: center;
}


.cowpage h2{
    color:white;
    position:relative;
    top:25%;
    left:50%;
}

.cowpage p{
    width:100%;
    padding:5px;
    text-align:center;
    color:rgb(255, 255, 255);
    background-color:rgba(0, 0, 0, 0.507);
    position:relative;
    top:55%;
}





footer {
    background-color: rgb(37, 36, 35);
    color:rgba(245, 245, 245, 0.966);
    width:100%;
    height:fit-content;
    padding:3%;
    display: flex;
    justify-content: space-around;
}
.contactus li {
    text-align: center;
    padding-top:3%;
}
.contactus li a {
    color:rgba(245, 245, 245, 0.966);
}
.socials {
    display: flex;
    justify-content: center;
    align-items: center;
}
.socials li {
    display: inline-block;
    padding:0 10%;
}
li {
    list-style-type: none;
}
.fa-brands {
    color: rgb(255, 255, 255);
}
@media only screen and (max-width:768px) {
    footer {
        flex-direction: column;
    }
    .contactus li {
        padding-top:1%;
        transition: padding 500ms linear;
    }
    .socials {
        margin-top:5%;
    }
    .socials li {
        padding:0 2%;
        transition: padding 500ms linear;
    }
}